NEXT_PUBLIC_API_URL=http://127.0.0.1:5188/api
NEXT_PUBLIC_SITE_URL=http://127.0.0.1:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=201110037311
NEXT_PUBLIC_GTM_ID=GTM-P3L52THD
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-F4L7E4DV5G
NEXT_PUBLIC_GA_DIRECT_ENABLED=true
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
NEXT_PUBLIC_PAYPAL_CURRENCY=USD
GOOGLE_SITE_VERIFICATION=OG1djowz4G3O5lUyi9bj0iwwhfDedCdxco4fOiWDc3E
BING_SITE_VERIFICATION=
