# ASP.NET Core API base URL. Do not add /swagger.
NEXT_PUBLIC_API_URL=http://127.0.0.1:5188/api

# Final public website URL used by canonical, Open Graph, robots and sitemap.
NEXT_PUBLIC_SITE_URL=http://127.0.0.1:3000

# International WhatsApp number without +
NEXT_PUBLIC_WHATSAPP_NUMBER=201110037311

NEXT_PUBLIC_PAYPAL_CLIENT_ID=
NEXT_PUBLIC_PAYPAL_CURRENCY=USD
NEXT_PUBLIC_GA_MEASUREMENT_ID=GTM-P3L52THD
GOOGLE_SITE_VERIFICATION=OG1djowz4G3O5lUyi9bj0iwwhfDedCdxco4fOiWDc3E
BING_SITE_VERIFICATION=
